{% extends 'shop/basic.html' %}

{% block title %} Log In {% endblock %}

{% block body %}
    <div class="content-section container">
        <form method="POST">
            {% csrf_token%}
            <fieldset class="form-group container">
                <legend class="border-bottom mb-3">Log In</legemd>
                {{ form.as_p }}
            </fieldset>
            <button class="btm btn-primary" type="submit">Log In</button>
            
        </form>
        <div class="border-top pt-3">
            <p class ="text muted">
                Don't have an Account! <a class="ml-3" href="{% url 'Register'%}">Sign Up</a>
            </p>
        </div>
    </div>
{% endblock %}