{% extends 'shop/basic.html' %}

{% block title %} About US {% endblock %}

{% block body %}
<div align="center" class="mt-2">
      <h3>Welcome to marvel's Cart!</h3>
    </div>
    <div align="center" class="p-3 mt-2 container mb-1 bg-success bg-gradient text-white">
      <h5>Here we provide all that belog to MCU. Whether it be stones or suits or masks or crowns or weapons,  everything is here for you to buy at a very reasonable price. make sure to create a account and login, you can purchase after being logged in only.<br><br>
      Hoping a Good Shopping Experiece For You, Thank you!!</h5>
            
    </div>
    <br>
    <div align="center" class="mt-2 container">
        <a class="nav-item nav-link" href="{% url 'ShopHome'%}"
                    ><button class="btn btn-primary">Continue Shopping</button></a>
    </div>
{% endblock %}

